.topBar {
    position: absolute;
    background-color: #2F2824;
    height: 10px;
    width: 100vw;
    top: 0;
    transition: height 2s ease;
    transition-delay: 0;
    z-index: 1;
}

.topBar[won='1'] {
    height: 95vh;
}

.topContainer {
    position: absolute;
    top: 10px;
    width: 100vw;
    transition: top 2s ease;
    transition-delay: 0;
    z-index: 1;
}

.topContainer[won='1'] {
    top: 95vh;
}

.title {
    font-family: 'handShop';
    width: 565px;
    height: 140px;
    margin: 10vh auto 0;
    font-size: 100px;
    color: #2F2824;
    rotate: -2deg;
    animation: title 5s ease-in-out infinite, reveal 2s;
    transition: all 1s ease;
}

.title span {
    display: inline-block;
}

.title[started='1'] {
    rotate: 0deg;
    animation: flyUp 1s 0.8s forwards, title 5s ease-in-out infinite;
}

.subtitle {
    font-family: 'Foglihten';
    font-size: 50px;
    width: 720px;
    height: 85px;
    margin: 0 auto;
    animation: fadeIn 2s 2.25s forwards;
    opacity: 0%;
}

.subtitle[started='1'] {
    opacity: 100%;
    animation: close 0.6s 0.25s forwards;
}

.imgContainer {
    margin: 150px auto;
    width: 724px;
    height: 386px;
}

.imgContainer[started='1'] {
    animation: moveUp 0.75s 1.75s forwards;
}

.guy {
    position: relative;
    top: -355px;
    left: 303px;
}

.guy[started='1'] {
    animation: smoke 1s 2.6s linear forwards;
}

.startButton {
    font-size: 40px;
    color: #F5EFE8;
    font-family: 'GinAndSoda';
    background-color: #2F2824;
    width: 230px;
    height: 40px;
    padding: 0 10px 5px;
    clip-path: polygon(2% 0, 98% 1%, 100% 50%, 98% 100%, 2% 100%, 0% 50%);
    cursor: auto;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    animation: reveal 0.25s 4s forwards;
    opacity: 0;
}

.startButton[started='1'] {
    opacity: 100%;
    cursor: auto;
    animation: revealReverse 0.25s forwards;
}

.startWrap {
    transition: all 0.2s ease;
    width: 230px;
    height: 40px;
    margin: 0 auto;
    filter: drop-shadow(0 0 5px #1f1a17);
}

.startWrap:hover {
    scale: 110%;
}

.letterBox {
    position: relative;
    top: -32vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.letter {
    display: inline-block;
    font-family: 'GinAndSoda';
    font-size: 60px;
    text-align: center;
    width: 50px;
    height: 52px;
    opacity: 0;
    animation: fadeUp 0.5s ease-out forwards;
    margin-right: 10px;
    border-bottom: #2F2824 solid;
}

.keyBox {
    position: relative;
    top: 11vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    max-width: 950px;
    margin: 0 auto;
    opacity: 0;
    animation: slideUp 1s 4s forwards;
}

.key {
    display: inline;
    font-family: 'GinAndSoda';
    font-size: 60px;
    border: 3px solid #2F2824;
    color: #2F2824;
    border-radius: 10px;
    width: 40px;
    text-align: center;
    padding: 0 5px 5px;
    transition: all ease-in-out 0.1s;
    box-shadow: 0 10px 5px #2F2824;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.key[clicked='1'] {
    background-color: red;
}

.key:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-25px);
}

.head {
    position: relative;
    top: -504px;
    left: 185px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.larm {
    position: relative;
    top: -457px;
    left: 67px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.rarm {
    position: relative;
    top: -457px;
    left: 59px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.lleg {
    position: relative;
    top: -358px;
    left: -59px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.rleg {
    position: relative;
    top: -358px;
    left: -67px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.endContainer {
    position: absolute;
    top: 10vh;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    text-align: center;
}

.endText {
    box-shadow: 0 0 0 4px #F5EFE8,
    0 0 0 10px #352E28,
    0 0 0 12px #F5EFE8;
    padding-right: 10px;
    padding-left: 10px;
    width: 1100px;
    margin: auto;
    animation: slideDown 1s 1.5s forwards;
    transform: translateY(-300px);
}

.endText span {
    display: inline-block;
    color: #F5EFE8;
    font-family: 'handShop';
    font-size: 100px;
}

.endText[clicked='1'] {
    transform: translateY(0);
    animation: slideUp2 1s 1s forwards;
}

.wordReveal {
    color: #F5EFE8;
    font-family: 'Foglihten';
    font-size: 50px;
    margin: 50px auto 0;
    opacity: 0;
    animation: fadeIn 2s 2.5s forwards;
}

.wordReveal[clicked='1'] {
    opacity: 100%;
    animation: close 0.6s 0.25s forwards;
}

.endButton {
    font-size: 40px;
    color: #2F2824;
    font-family: 'GinAndSoda';
    background-color: #F5EFE8;
    width: 230px;
    height: 40px;
    padding: 0 10px 5px;
    clip-path: polygon(2% 0, 98% 1%, 100% 50%, 98% 100%, 2% 100%, 0% 50%);
    cursor: auto;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    animation: reveal 0.25s 4.5s forwards;
    opacity: 0;
    margin: 500px auto 0;
}

.endWrap {
    transition: all 0.2s ease;
    width: 230px;
    height: 40px;
    margin: 0 auto;
    filter: drop-shadow(0 0 4px #F5EFE8);
}

.endWrap:hover {
    scale: 110%;
}

.endButton[clicked='1'] {
    opacity: 100%;
    cursor: auto;
    animation: revealReverse 0.25s forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideUp {
    0% {
        opacity: 100%;
        top: 100vh;
    }

    90% {
        top: -23vh;
    }

    100% {
        opacity: 100%;
        top: calc(-33vh + 150px);
    }
}

@keyframes slideUp2 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-300px);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 100%;
        transform: translateY(-20px);
    }
}

@keyframes title {
    0% {
        rotate: -2deg;
    }

    50% {
        rotate: 2deg;
    }

    100% {
        rotate: -2deg;
    }
}

@keyframes reveal {
    0% {
        scale: 0;
        opacity: 100%;
    }

    100% {
        scale: 1;
        opacity: 100%;
        cursor: pointer;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes revealReverse {
    0% {
        scale: 1;
    }

    100% {
        scale: 0;
    }
}

@keyframes flyUp {
    15% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(-30vh);
    }
}

@keyframes close {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0, 1);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-25vh);
    }
}

@keyframes smoke {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter: blur(1px);
    }

    100% {
        transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter: blur(20px);
    }
}